html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.ant-menu-submenu-title :hover {
    @apply text-primary;
}


.ant-menu-item-only-child :hover {
    color: #66cce6;
}

.ant-menu-item-selected {
    color: #66cce6 !important;
    background-color: transparent !important;
    font-size: 15px;
}

.custom-menu-order-status .ant-menu-item::after {
    border-bottom: none !important;
    /* Loại bỏ đường kẻ màu xanh mặc định */
}

.custom-menu-order-status .ant-menu-item-selected {
    border-bottom: 3px solid #66cce6;
}

.custom-select-radius-left .ant-select-selector {
    border-radius: unset !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.ant-input {
    border-radius: unset !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.ant-input-outlined:hover {
    border-color: black !important;
}

.ant-input-outlined {
    border-color: rgb(214, 212, 212) !important;
}

.custom-none-border .ant-select-selector {
    border: unset !important;
}

.ant-space {
    column-gap: 0;
    padding: 6px 16px 6px 16px;
    background-color: white;
    border-radius: 3px;
}

.ant-space-item {
    margin: 4px;
    position: relative;
}

.ant-space:hover {
    color: black !important;
}

.ant-dropdown-menu {
    /* margin-top: 0px !important; */
}

.custom-menu.ant-menu-overflow {
    background-color: transparent !important;
    font-size: 16px;

}

.custom-menu-seller-product .ant-menu-item {
    font-size: 15px;
}

.custom-menu-seller-product .ant-menu-item::after {
    border-bottom: none !important;
    /* Loại bỏ đường kẻ màu xanh mặc định */
}

.custom-menu-seller-product .ant-menu-item-selected {
    border-bottom: 3px solid #66cce6;
    font-size: 15px;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.sticky-menu {
    position: sticky;
    top: 60px;
    z-index: 1000;
    background-color: white;
    width: 100%;
}

.layout-full-height {
    height: 100% !important;
}

.custom-upload .ant-upload-list-item {
    border-color: rgb(186, 177, 177) !important;
}
